.env
.env.*
!.env.example

/liveimg
/liveimg.exe
/bin/
/dist/
/build/
*.test
*.out
*.prof
coverage.*

*.log
*.tmp
.DS_Store
Thumbs.db
tmp/
uploads/
.cache/

.idea/
.vscode/
*.swp
*.swo

node_modules/

/web/dist/
